@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Warnes');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
 @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
body {

	background-color: lightblue;
}
h1 {
	font-family: "Sedgwick Ave", cursive;
	text-align: center;
	text-decoration: underline;
	color: black;
	font-size: 40px;
	font-style: italic;


}
body {
	font-family: Lobster, cursive;
	font-size: 25px;
	text-align: normal;
	font-weight: bold;

}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

p
{	font-family: "Archivo Black, sans-serif;
	font-size: 1.5em;
	text-align: center;
}	

ul {
	font-family: Cinzel, serif;
	color: blue;
	font-size: 25px;
	font-weight: normal;


}

a{	
	font-family: "Archivo Black", sans-serif;
	color: black; 
	font-weight: bold;
	font-style: italic;
	text-align: center;


	 }	






