@import url('https://fonts.googleapis.com/css?family=Unlock');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Warnes');
@import url('https://fonts.googleapis.com/css?family=Bangers'); 
body {

	background-color: lightblue;
}
h1 {
	font-family: Righteous, cursive;
	text-align: center;
	color: darkblue;
	font-size: 40px;
	font-style: italic;
	text-decoration: underline;


}
body {
	font-family: "Sigmar One", cursive;
	font-size: 1em;
	text-align: normal;
	font-weight: bold;

}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

p
{
	font-size: 1.5em;
	text-align: center;
}	

ul {
	font-family: Unlock, cursive;
	color: blue;
	font-size: 25px;
	font-weight: normal;

}

a{	
	font-family: Warnes, cursive; 
	color: red; 
	font-weight: bold;
	font-style: italic;
	text-align: center;


	 }	






